/* Image adjustment for Google Image */
.center {
    display: block;
    height: 15%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
}

/* Search Bar Styles */
#searchbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 570px;
    height: 44px;
    border: none; 
    padding: 10px;
    border:1px solid #eaeaea;
    text-align: left;
    background-color: whitesmoke;
    background: url(http://i.imgur.com/l5S4LZ2.png) no-repeat; /* adding microphone icon */
    background-size: 5%;
    background-position: 520px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
/* Search Bar Placeholder Text Style */
input::-webkit-input-placeholder {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    
}
/* Search Bar Hover Style */
#searchbar:hover {
   /* 
   border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
   */
   box-shadow: 0 2px 2px rgba(0,0,0,0.25);
}
/* Top link Styles */
.top-menu {
    text-align: left;
    margin-left: 1.5%;
    margin-top: 1.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
}
/* BROKEN hover setup for menus */
.top-menu:hover {

}

#appdrawer {
    width: 25;
    height: 25;
}

#notification {
    width: 20;
    height: 20;
}

#account {
    width: 38 !important;
    height: 38 !important;
}

/* Manual Search Button Styles */
.searchbutton {
    height: 38px;
    width: 70%;
    width: 88px;
    background-color: whitesmoke;
}
/* Lucky Button Styles */
.luckybutton {
    height: 38px;
    width: 70%;
    width: 88px;
    background-color: whitesmoke;
}
/* Button Container set for side by bide buttons */
.manualbuttons {
    display:inline-block;
    align-self: auto;
}

/* container styles for the buttons in the middle of the page */
.buttoncontainer {
    text-align: center;
}
/* Bottom Menu Styles */
.bottom-menu {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 9.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
}
/* BROKEN Bottom Menu Container Styles */
.bottomcontainer {
    background-color: whitesmoke;
    height: 30px;
    align-items: center;
}

/* unvisited link */
.link {
    text-decoration: none;
}

/* visited link */
.visited {
    color: blue;
}

/* mouse over link */
.hover:hover {
    text-decoration: underline;
}

/* selected link */
.active {
    color: black;
}


/* Results Page Styles */

.topcontainer {
    height: 40;
    margin: 0;
    background: whitesmoke;
}

.topimage {
    float: left;
    height: 44;
    width: 120;

}

.topsearch {
    height: 35;
    width: 400;
}

/* Search Bar Styles */
#topsearchbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 570px;
    height: 44px;
    border: none; 
    padding: 10px;
    border:1px solid #eaeaea;
    text-align: left;
    background-color: whitesmoke;
    background: url(http://i.imgur.com/l5S4LZ2.png) no-repeat, url(https://i.imgur.com/op3FcBd.png) no-repeat; /* adding microphone icon */
    background-size: 5%, 4%;
    background-position: 490px, 530px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);