.center {
    display: block;
    height: 15%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;

}

#searchbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 545px;
    height: 42px;
    border-style: hidden;
    text-align: left;
    background-color: whitesmoke;
    background: url(http://i.imgur.com/l5S4LZ2.png) no-repeat;
    background-size: 5%;
    background-position: right;
    
    
}

input::-webkit-input-placeholder {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    
}

#searchbar:hover {
    background-color: gray;
}

