/* Image adjustment for Google Image */
.center {
    display: block;
    height: 15%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
}

/* Search Bar Styles */
#searchbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 570px;
    height: 44px;
    border: none; 
    padding: 10px;
    border:1px solid #eaeaea;
    text-align: left;
    background-color: whitesmoke;
    background: url(http://i.imgur.com/l5S4LZ2.png) no-repeat;
    background-size: 5%;
    background-position: 520px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
/* Search Bar Placeholder Text Style */
input::-webkit-input-placeholder {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
    
}
/* Search Bar Hover Style */
#searchbar:hover {
   /* 
   border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
   */
   box-shadow: 0 2px 2px rgba(0,0,0,0.25);
}
/* Top link Styles */
.top-menu {
    text-align: left;
    margin-left: 1.5%;
    margin-top: 1.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
}
/* BROKEN hover setup for menus */
.top-left-menu:hover {
    box-shadow: 0,1px,1px black;
}
/* Top Right menu options */
.right-menu-icons {
    width: 25;
    height: 25;
    margin-top: -12;
      
}
/* Seperate Stlye for Account Icon */
#Account-Icon {
    width: 30 !important;
    height: 30 !important;
}
/* Manual Search Button Styles */
.searchbutton {
    height: 38px;
    width: 70%;
    width: 88px;
    background-color: whitesmoke;
}
/* Lucky Button Styles */
.luckybutton {
    height: 38px;
    width: 70%;
    width: 88px;
    background-color: whitesmoke;
}
/* Button Container set for side by bide buttons */
.manualbuttons {
    display:inline-block;
    align-self: auto;
}

.buttoncontainer {
    text-align: center;
}
/* Bottom Menu Styles */
.bottom-menu {
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 9.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
}
/* BROKEN Bottom Menu Container Styles */
.bottomcontainer {
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    border:1px #eaeaea;
}
